<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Themed Page</title>
    <link rel="stylesheet" href="/static/christmas_theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
    

</head>

<body>
    <div class="container">
        <aside class="table-of-contents">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="#gift_overview">Gift Overview</a></li>
                <li><a href="#vinyls">Vinyls</a></li>
                <li><a href="#books">Books</a></li>
                <li><a href="#clothes">Clothes</a></li>
                <li><a href="#Misc">Misc.</a></li>
            </ul>
        </aside>

        <main class="content">
            <section id="gift_overview">
                <h1>Gift Overview</h1>
                <p>First things first, you NEED to watch GRIMM!!!!! Now that the important stuff is out of the way this website is dedicated to a bunch of random crap I would be happy to recieve for christmas. </p>
                <p>It will be things like vinyls, books, clothes, and a miscellaneous category for random crap idk bro. Peruse through and maybe pick up a couple of items who knows. Enjoy</p>
                <p>the PEAK music btw. Note: This is NOT ranked in any order, just whatever came to my mind. </p>
            </section>

            <section id="vinyls">
                <h1>Vinyls</h1>
                <p><a href="https://www.ebay.com/itm/195771822933?chn=ps&_trkparms=ispr%3D1&amdata=enc%3A1obMFK-zNTAKmq48AFgoJrQ57&norover=1&mkevt=1&mkrid=711-117182-37290-0&mkcid=2&mkscid=101&itemid=195771822933&targetid=1585159290171&device=c&mktype=pla&googleloc=9008455&poi=&campaignid=19894961968&mkgroupid=148855406073&rlsatarget=pla-1585159290171&abcId=9307911&merchantid=550395430">Dicen Que Soy - La India (49.99) <img src="/static/DicenQueSoy.jpg" alt="Dicen Que Soy Album Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.amazon.com/Todo-Tiempo-LP-Marc-Anthony/dp/B0CGDKN1HV/ref=tmm_vnl_swatch_0?_encoding=UTF8&qid=&sr=">Todo A Su Tiempo - Marc Anthony (82.19)<image src="/static/TodoASuTiempo.jpg" alt="Todo A Su Tiempo Vinyl Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.discogs.com/sell/item/2357286715">Otra Nota - Marc Anthony (60.15)<image src="/static/OtraNota" alt="Otra Nota Vinyl Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.amazon.com/Heights-Original-Motion-Picture-Exclusive/dp/B099759JT5">In The Heights Soundtrack - (100.00)<image src="/static/InTheHeights.jpg" alt="In The Heights Vinyl Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.walmart.com/ip/Black-Panther-Wakanda-Forever-Music-from-and-Inspired-by-2LP-Walmart-Exclusive-Soundtrack-Vinyl-Hollywood-Records/1566540326">Black Panther: Wakanda Forever Soundtrack - (29.99)<image src="/static/WakandaForever.jpg" alt="Wakanda Forever Vinyl Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.amazon.com/Black-Panther-Album-Music-Inspired/dp/B07BF2S4VJ">Black Panther Soundtrack - (33.52)<image src="/static/BlackPanther.jpg" alt="Black Panther Vinyl Picture" width="300" height="300"></a>
                </p>    
            </section>

            <section id="books">
                <h1>Books</h1>
                <p><a href="https://www.amazon.com/dp/1421525828/?coliid=IQETZS3BFBVQ5&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Naruto Box Set 1 (126.24)<image src="/static/Naruto Box Set 1.jpg" alt="Naruto Box Set 1 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1421580802/?coliid=I2BH8WDUXZ7FVC&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Naruto Box Set 2 (160.00)<image src="/static/Naruto Box Set 2.jpg" alt="Naruto Box Set 2 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1421583348/?coliid=I19O85M8K4XH7M&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Naruto Box Set 3 (116.63)<image src="/static/Naruto Box Set 3.jpg" alt="Naruto Box Set 3 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1421560747/?coliid=I377DH9QNKHLBN&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">One Piece Box Set 1 (172.78)<image src="/static/One Piece Box Set 1.jpg" alt="One Piece Box Set 1 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1421576066/?coliid=I1CBLBQKX2TTDJ&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">One Piece Box Set 2 (123.00)<image src="/static/One Piece Box Set 2.jpg" alt="One Piece Box Set 2 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1421590522/?coliid=I1YLF0CK78Q14N&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">One Piece Box Set 3 (102.99)<image src="/static/One Piece Box Set 3.jpg" alt="One Piece Box Set 3 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/dp/1974725960/?coliid=I1EY363T9PUTHN&colid=S3HWN5FAZT4J&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">One Piece Box Set 4 (99.72)<image src="/static/One Piece Box Set 4.png" alt="One Piece Box Set 4 Picture" width="300" height="300" ></a>
                </p>
                <p><a href="https://www.amazon.com/Spider-Man-Across-Spider-Verse-Art-Movie/dp/1419763997/ref=sr_1_1?keywords=spider+verse+art+book&sr=8-1">Across The Spider-Verse: The Art of The Movie(23.48)<image src="/static/AcrossTheSpiderverse.jpg" alt="Across the spiderverse art book Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.amazon.com/Spider-Man-Into-Spider-Verse-Movie/dp/1785659464/ref=pd_bxgy_img_sccl_1/131-7286583-8768465?content-id=amzn1.sym.43d28dfc-aa4f-4ef6-b591-5ab7095e137f&pd_rd_i=1785659464&psc=1">Into The Spider-Verse: The Art of The Movie(28.99)<image src="/static/IntoTheSpiderverse.jpg" alt="Into the spiderverse art book Picture" width="300" height="300"></a>
                </p>
                <p><a href="https://www.mercari.com/us/item/m34809021100/?ref=search_results">Legendborn & Bloodmarked Fairyloot editions<image src="/static/LegendBornFairyloot.png" alt="Legendborn & Bloodmarked Fairyloot Pictures" width="300" height="300"></a>
                </p>
            </section>

            <section id="clothes">
                <h1>Clothes</h1>
                
                <p>
                    <ul>
                        <li>Big Puffer Jacket with the hood that has the fur on it</li>
                        <li>Cargo vest black with all the pockets</li>
                        <li>Shoes Maybe The Wheat colored timbs or black ones or even White AF1 lows</li>
                        <li>Crewneck Sweatshirts(Could be VCU, random shows or comics, general pop culture stuff)</li>
                        <li>Socks</li>
                        <li>All black t shirts</li>
                        <li>Super loosey goosey yoga, bohemian harem pants, solid 1 color</li>
                    </ul>
                    
                </p>
            </section>
            <section id="Misc">
                <h1>Misc.</h1>
                <p>
                    <ul>
                        <li>House of Payne </li>
                        <li>Portable Charger</li>
                        <li>The Most Wanted Parfum Azzaro</li>
                        <li>Givenchy Gentleman Intense Eau de Toilette</li>
                        <li>Yves Saint Laurent L'Homme Eau De Parfum Intense</li>
                        <li>Bonnets (the big ones with the thick band)</li>
                    </ul>
                </p>
            </section>

             <embed name="Nadie Sabe" src="/static/y2mate.is - BAD BUNNY NADIE SABE Visualizer nadie sabe lo que va a pasar mañana-qWL7Iy7jhKc-144pp-1701141005.mp4" loop="true" hidden="true" autostart="true">
            
        </main>
    </div>
</body>

</html>
